.learn-header-container {
   display: flex;
   flex-direction: row; 
   align-items: center;
   height: 350px;
   padding-left: 5vw;
   padding-right: 5vw;
}

.learn-header-text-container {
   align-self: flex-end;
   flex: 1;
   padding-bottom: 20px;
}

.learn-video {
   height: 80%;
   display: flex;
   flex: 1;
   justify-content: center;
}