.comment-text-content {
   white-space: pre-line;
}

.comment-post {
   margin: 0 .75em 0 0;
   border: none;
   font-size: 1rem;
   display: inline-block;
   color: rgba(0,0,0,.4);
   padding: 0;
}

.comment-post:hover {
   color: rgba(0,0,0,.8);
}